RAILS_MASTER_KEY=$(cat config/master.key)
TELEGRAM_BOT_TOKEN=your-prod-bot-token-here
TELEGRAM_WEBHOOK_SECRET=generate-with-ruby-rsecurerandom-e-puts-SecureRandom-hex-32
KAMAL_REGISTRY_PASSWORD=your-docker-hub-token
ROLLBAR_ACCESS_TOKEN=your-rollbar-token
ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-admin-password
